<header>
  <nav class="nav-bar">
    <div></div>
    <button class="log-out-btn">Log out</button>
  </nav>
</header>

<main class="dashboard-main">
  <h1>Panel de Administración</h1>

  <section>
    <div class="table-header">
      <h2>Cursos</h2>
      <button id="create-course-btn" class="btn-action">Crear curso</button>
    </div>

    <table class="course-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Curso</th>
          <th>Capacidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody id="table-body"></tbody>
    </table>

    <form class="form-create-course" id="f-create-course">
      <label for="nameCourse">Nombre del curso</label>
      <input type="text" name="nameCourse" id="nameCourse" required>

      <label for="capacity">Capacidad</label>
      <input type="number" name="capacity" id="capacity" required>

      <button type="submit" class="btn-action">Crear</button>
    </form>
  </section>
</main>