<header>
    <nav>
        <ul>
            <li><a data-link href="/dashboard">Dash</a></li>
        </ul>
        <button class="log-out-btn"> Log out</button>
    </nav>
</header>

<main>

    <h1>Hola desde hash</h1>
    
    <section>
        <div class="table-header">
    <h2>Cursos</h2>
    <button id="create-course-btn">Crear curso</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Curso</th>
        <th>Inscriptos</th>
        <th>capacidad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody id="table-body">
      <!-- <tr>
        <td>1</td>
        <td>HTML Básico</td>
        <td>4 semanas</td>
        <td>Ana González</td>
        <td><button>Editar</button> <button>Eliminar</button></td>
      </tr> -->
    </tbody>
  </table>

  <form class="form-create-course" id="f-create-course">
    <label for="nameCourse">Name of course</label>
    <input type="text" name="nameCourse" id="nameCourse">

    <label for="capacity">Number capacity</label>
    <input type="number" name="capacity" id="capacity">
    <button type="submit">Create</button>
  </form>

    </section>
</main>